<div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="/HomePage/Index" class="navbar-brand p-0">
                <h1 class="text-primary mb-0"><img src="~/LifeSure-1.0.0/img/logo.jpg" alt="Logo"> İZSED</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-0 mx-lg-auto">
                    <a href="/HomePage/Index" class="nav-item nav-link active">Ana Sayfa</a>
                    <a href="/About/Index" class="nav-item nav-link">Hakkımızda</a>
                    <a href="/Services/Index" class="nav-item nav-link">Servisler</a>
                    <a href="/Contact/Index" class="nav-item nav-link">İletişim</a>
                </div>
            </div>
            <div class="d-none d-xl-flex flex-shrink-0 ps-4">
                <a href="#" class="btn btn-light btn-lg-square rounded-circle position-relative wow tada" data-wow-delay=".9s">
                    <i class="fa fa-phone-alt fa-2x"></i>
                    <div class="position-absolute" style="top: 7px; right: 12px;">
                        <span><i class="fa fa-comment-dots text-secondary"></i></span>
                    </div>
                </a>
                <div class="d-flex flex-column ms-3">
                    <span>Şimdi arayın</span>
                    <a href="tel:+ 0123 456 7890"><span class="text-dark">0553 248 79 22</span></a>
                </div>
            </div>
        </nav>
    </div>
</div>